NODE_ENV=development
PORT=8080
ENGINE_NODE=primary
ENGINE_DB_POLL_MS=1000
ENGINE_FFMPEG_BIN=ffmpeg
ENGINE_PREFETCH_ENABLED=true
ENGINE_PREFETCH_LOG_SKIPS=false
ENGINE_CACHE_DIR=/tmp/encoder-cache

POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5433
POSTGRES_DB=Backend_HGM
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ENCODER_PRIMARY_PORT=8081
ENCODER_BACKUP_PORT=8082
MEDIA_MOUNT_PATH=../be-livestream/media
